#form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.hidden {
  display: none !important;
}

#book-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  border: 2px solid gray;
  padding: 8px;
  border-radius: 4px;
  outline: none;
}

input:required {
  border-left: 5px solid orange;
}

input:user-valid {
  border: 3px solid green;
}

input:user-invalid {
  border: 2px solid red;
}

.error-msg {
  color: red;
}
input:invalid + .error-msg {
  display: block;
}
